@font-face {
    font-family: Proxima;
    src: url(/fonts/Proxima-Nova-Regular.otf) format("opentype");
}
@font-face {
    font-family: Proxima;
    src: url(/fonts/Proxima-Nova-Bold.otf) format("opentype"),
    url(/fonts/Proxima-Nova-Alt-Extrabold.otf) format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: Proxima;
    src: url(/fonts/Proxima-Nova-Light.otf) format("opentype");
    font-weight: lighter;
}
@font-face {
    font-family: OSCondensed;
    src: url(/fonts/OpenSansCondensed-Light.ttf) format('truetype');
}
@font-face {
    font-family: OSCondensed;
    src: url(/fonts/OpenSansCondensed-Bold.ttf) format('truetype');
    font-weight: bold;
}